.grid-container {
  margin: 2%;
}

.grid {
  white-space: pre;
}

button {
  margin: 10px;
  width: 200px;
  height: 50px;
  align-self: center;
}

.button-align {
  display: flex;
  flex-direction: column;
  align-self: center;
}